@import "./mixins/reset-link";

.button {
  @include reset-link;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-position: 25px center;
  background-repeat: no-repeat;
  text-align: end;
  border: none;
  padding: 15px;
  border-radius: 5px;

  &--submit {
    background-color: #005aa2;
    background-image: url("../img/shopping_cart.png");
    padding-right: 19px;
  }

  &--tel {
    display: block;
    background-color: #00c232;
    background-image: url("../img/phone_in_talk.png");
  }

  &--favorite {
    color: #656565;
    background-color: #f6f6f6;
    background-position: 10px center;
    border: 2px solid #e7e7e7;
    background-image: url("../img/favorite_border.png");
    text-align: end;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.5;
    color: #000;
  }
}
