@import "./mixins/reset-list";

.info {
  @include reset-list;
  display: flex;
  flex-wrap: nowrap;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  padding-top: 20px;
  gap: 10%;
  overflow: hidden;
  margin-bottom: 10px;
}

.info__item {
  width: 40%;
}

.info__link {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  color: #656565;
  text-transform: uppercase;

  &--current {
    color: #216fad;
    padding-bottom: 20px;
    border-bottom: 3px solid #216fad;
  }

  &:hover {
    color: #216fad;
  }

  &:active {
    color: #000;
  }
}
